.burger {
    --width: 25px;
    --height: 12px;
    --color: #c50e0e;
    --size-line: 2px;
    width: var(--width);
    height: var(--height);
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 270px;
    top: 40px;
}

.burger__line {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: var(--size-line);
    transform: translateY(-50%);
    background-color: var(--color);
    transition: transform .3s;
}

.burger:before, .burger:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: var(--size-line);
    background-color: var(--color);
    transition: transform .3s, top .3s;
}

.burger:before {
    top: 0; 
}

.burger:after {
    top: calc(100% - var(--size-line));
}

.burger_active  .burger__line{
    transform: scale(0);
}

.burger_active:before {
    top: 50%;
    transform: rotate(45deg);
}

.burger_active:after {
    top: 50%;
    transform: rotate(-45deg);
}

@media (max-width: 1000px) {
    .burger {
        left: 260px;
    }
}

@media (max-width: 580px) {
    .burger {
        left: 160px;
    } 
}

@media (max-width: 480px) {
    .burger {
        left: 150px;
    }
}

@media (max-width: 320px) {
    .burger {
        left: 140px;
    }
}