.header {
    position: absolute;
    top: 10%;
}

.header__navigation {
    position: absolute;
    top: 10px;
}

.santa_hat {
    display: block;
    position: absolute;
    bottom: 9px;
    left: 2px;
    animation-name: Appearance;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}

.welcome {
    display: flex;
    flex-direction: column;
}

@-webkit-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}