.page {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../img/NY.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.timer-container {
    position: absolute;
    top: 30vh;
    width: 420px;
    box-shadow: 4px 8px 40px rbga(8, 24, 111, 0.2);  
    border-radius: 30px;
    height: 200px;
    background-color: rgba(209,190,168, 0.5)
}

.time-count__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-size: calc(30px + 10 * ((100vw - 320px) / (1280 - 320)));
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 900;
    line-height: 47px;
    color: var(--text-color);
}

.time-count__value { 
    min-width: 80px;
    font-size: calc(40px + 30 * ((100vw - 320px) / (1280 - 320)));
    line-height: 82px;
}

.time-count__separator {
    margin: 0 5px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: calc(24px + 24 * ((100vw - 320px) / (1280 - 320)));
    line-height: 56px;
    text-align: center;
    color: #5D71DD;
    line-height: 75px;
}

.time-count__text {
    font-weight: 400;
    font-size: calc(20px + 4 * ((100vw - 320px) / (1280 - 320)));
    line-height: 20px;
}

@media (max-width: 760px) {
    .timer-container { 
        width: 410px;
        height: 200px;
    }

    .timer-count__value {
        line-height: 82px;
    }

    .title {
        line-height: 42px;
    }
}

@media (max-width: 580px) {
    .timer-container {
        width: 340px;
        height: 170px;
    }

    .time-count__value {
        min-width: 40px;
    }

    .time-count__value {
        line-height: 60px;
    }
}

@media (max-width: 480px) { 
    .timer-container {
        width: 310px;
        height: 170px;
    }
    
    .timer-count__value {
        line-height: 60px;
    }

    .title {
        line-height: 30px;
    }
}

@media (max-width:320px) { 
    .timer-container {
        width: 300px;
        height: 160px;
        margin-top: 20px;
    }

    .timer-count__value {
        line-height: 60px;
    }

    .title {
        line-height: 30px;
    }
}


